* {
  margin: 0;
  padding: 0;
}
.profile {
  border: 4px solid black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  height: 700px;
  width: 450px;
  overflow: hidden;
  position: relative;
  text-align: center;
}
.profile-photo {
  max-width: 100%;
  max-height: 100%;
  display: block;
}
.button {
  background-color: blueviolet;
  color: beige;
}
h2 {
  padding: 10px;
}
.skill {
  padding: 3px 12px;
  border-radius: 5px;
  align-items: center;
  display: flex;
  font-weight: 500;
  gap: 8px;
}
.skillset {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 12px;
}
